.sidebar {
   background-color: white;
   width: calc(100% / 3);
   height: 100vh;
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   right: -100%;
   transition: 850ms;
   padding: 1rem;
   z-index: 1;
   box-shadow: -2px -2px 5px gray;
}

.sidebar.active {
   right: 0;
   transition: 350ms;
}