.thick-shadow {
   box-shadow: 8px 8px 0px #000000;
}

.card-solid-shadow {
   @apply border-2 border-black bg-white;
   box-shadow: 4px 4px 0px #000000;
}

.timeline-container {
   display: flex;
   flex-direction: column;
   position: relative;
}

.timeline-container::after {
   background-color: black;
   content: '';
   position: absolute;
   left: calc(50% - 2px);
   width: 3px;
   height: 100%;
}

.timeline-item {
   display: flex;
   position: relative;
   margin: 10px 0;
   width: 50%;
}

.timeline-item:nth-child(odd) {
   justify-content: flex-end;
   padding-right: 20px;
}

.timeline-item:nth-child(even) {
   justify-content: flex-start;
   align-self: flex-end;
   padding-left: 20px;
}

.project-card {
   @apply border-2 border-black bg-white max-w-sm;
   box-shadow: 4px 4px 0px #000000;
}

.project-img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.hero-text>* {
   line-height: 100%
}

.small {
   width: 24px;
   height: 24px;
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin-top: auto;

}

main>* {
   padding: 0 10rem;
   margin-bottom: 5rem;
}